* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  margin: 2rem;
}

.nav-menu-list-items {
  display: flex;
}
.nav-menu-list-items li {
  margin: 2rem;
  list-style-type: none;
}
.nav-basket-container {
  display: flex;
}
.nav-basket-icon {
  margin: 2rem;
}
.nav-notification-icon {
  margin: 2rem;
}
